# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SumAndAvaregeNumbersFromFile.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projekty\CSharpFiles\DomaciUkol17012022\.idea\.idea.SumAndAvaregeNumbersFromFile\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
