# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.DomaciUkol17012022.iml
# Datasource local storage ignored files
/../../../../../../../:\Projekty\CSharpFiles\DomaciUkol17012022\.idea\.idea.DomaciUkol17012022\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
